<%= form_tag("/blasts", method: :create) do %>
  <div>
    <p><strong>Phone number to send from</strong></p>
    <%= select_tag "sender_number",
                   @available_phone_numbers.map{|num| "<option>#{num}</option>" }.join("").html_safe %>
  </div>
  <div>
    <p><strong>Phone numbers to send to</strong></p>
    <%= text_area_tag "recipient_numbers", nil, size: "120x15" %>
  </div>
  <div>
    <p><strong>Body of text message</strong></p>
    <%= text_area_tag "body", nil, size: "120x5" %>
  </div>
  <div>
    <%= submit_tag "Send" %>
  </div>
<% end if twilio_connection? %>
